.about__hobby {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__content {
    font-size: 18px;
    line-height: 1.5em;
    text-indent: 30px;
    text-align: justify;
    margin: 0 20px;
}

.additional {
    @media(max-width: 850px) {
        display: none;
    }

    @include w-to($tablet-width) {
        display: flex;
    }

    @media(max-width: 450px) {
        display: none;
    }
}

.about {
    margin-bottom: 15px;
}