.header {
    background-color: var(--bg-header);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include w-to($tablet-width) {
        flex-direction: column;
    }
}

.header__contacts {
    @media(max-width: 375px) {
        display: flex;
        flex-direction: column;
    }
}

.my-logo {
    display: flex;
    align-items: center;
}

.my-logo__picture {
    // clip-path: circle(45%);
    transition: 1s;
    
    &:hover {
        transform: rotate(360deg);
        transition: 2.5s;
    }
}

.my-logo__picture img {
    border-radius: 50%;
}


.my-logo__name {
    font-size: 28px;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--text-color-secondary);
    margin-left: 20px;
    
    @include w-to($tablet-width) {
        font-size: 26px;
    }

}

.contacts__phone {
    color: var(--text-color-secondary);
    margin-right: 25px;
    transition: 0.5s;
    padding-left: 25px;
    position: relative;

    &:before {
        font-family: 'Icons';
        position: absolute;
        left: 0px;
        top: 1px;
        font-size: 16px;
        @extend .icon-phone;
        animation: mobile 2s infinite linear;
    }

    @media(max-width: 375px) {
        margin-bottom: 15px;
    }
}

@keyframes mobile {
    0%{transform: rotate(-20deg);}
    50%{transform: rotate(40deg);}
    100%{transform: rotate(-20deg);}
}


.contacts__email {
    color: var(--text-color-secondary);
    transition: 0.5s;
    padding-left: 30px;
    position: relative;

    &:before {
        font-family: 'Icons';
        position: absolute;
        left: 0px;
        top: 1px;
        @extend .icon-mail-alt;
        animation: email 2s infinite linear;
    }
}

@keyframes email {
    0%{transform: scale(1.2);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1.2);}
}


.header__contacts a {
    @media(max-width: 850px) {
        font-size: 16px;
    }

}