.main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 10px 0;
    background-color: var(--text-color-secondary);
}

.main__wrapper {
    display: grid;
    grid-template-areas: 
    "pictures about movies"
    "pictures about music";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    text-align: center;


    @include w-to($tablet-width) {
        grid-template-areas: 
        "pictures"
        "about"
        "movies"
        "music";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
}

.pictures {
    grid-area: pictures;
}

.about {
    grid-area: about;
}

.movies {
    grid-area: movies;
}

.music {
    grid-area: music;
}


.title {
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
}



