// ОБНУЛЕНИЕ СТИЛЕЙ ПО УМОЛЧАНИЮ
@import "mynormalize.scss";

// ШРИФТЫ
@import "fonts.scss";

// ПЕРЕМЕННЫЕ SCSS и CSS
@import "variables.scss";


// Подключение файлов стилей блоков
@import "block/mixins.scss";
@import "block/header.scss";
@import "block/main.scss";
@import "block/movies-music.scss";
@import "block/pictures.scss";
@import "icons.scss";
@import "block/about.scss";


// МОИ СТИЛИ ПО УМОЛЧАНИЮ
body {
    font-size: 20px;
    font-family: "Cormorant Infant", "Times New Roman", serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--text-color-primary);
}

a {
    color: var(--text-color-primary);
}


.container {
    max-width: $desktop-width;
    padding: 0px 20px;
    margin: 0 auto;

    @include w-to($tablet-width) {
        padding: 10px 10px; 
        max-width: $tablet-width;    
    }

    @include w-to($mobile-width) {
        padding: 10px; 
        max-width: $mobile-width;    
    }

}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }










