$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px; 

:root{
    --bg-header: rgb(40, 40, 49);
    --text-color-primary: rgb(110, 30, 30);
    --text-color-secondary: rgb(250, 250, 250);
}