    <header class="header">
      <div class="header__wrapper container">
        <div class="header__about my-logo" itemscope itemtype="http://schema.org/Person">
          <a class="my-logo__picture" href="assets/images/myPhotos/me-big.jpg" target="_blank">
            <img src="assets/images/myPhotos/me-small(100).jpg" itemprop="image" alt="My picture" width = "80" height = "80">
          </a>
          <p class="my-logo__name" itemprop="name">Татьяна Коробова</p>
        </div>
        <div class="header__contacts contacts" itemscope itemtype="http://schema.org/Person">
					<a class="contacts__phone" itemprop="telephone" href="tel:79522528523">+7 (952) 252 85 23</a>
					<a class="contacts__email" itemprop="email" href="mailto: korobova.ta.v@gmail.com">korobova.ta.v@gmail.com</a>
				</div>
      </div>
    </header>